In [1]:
#Understanding the offset and appending items to a list

Write a Python function called even_or_odd that takes an integer as an argument. The function should return the string "Even" if the number is even or "Odd" if the number is odd.

For example:

If you call even_or_odd(4), the function should return "Even" because 4 is an even number.
If you call even_or_odd(7), the function should return "Odd" because 7 is an odd number.
Take your time to write the function, and when you're ready, you can share your solution with me for feedback or assistance if needed.

In [2]:
def even_or_odd(num):
  
    if num % 2 == 0:
        print('Even')
        
    else:
        print('odd')
        
tat = even_or_odd(1090)

Even

## Palindrone
Here's another simple function challenge for you:

Write a Python function called is_palindrome that takes a string as an argument. The function should return True if the input string is a palindrome (reads the same forwards and backward), and False otherwise.

For example:

is_palindrome("racecar") should return True because "racecar" is a palindrome.
is_palindrome("hello") should return False because "hello" is not a palindrome.
Try writing the is_palindrome function, and feel free to share your solution with me for feedback or assistance.

In [3]:
def is_palindrome (n):
    rev = n[::-1] ####this notation helps to reverse
    if rev == n:
        return 'True'
    else:
        return 'False'
    
ans = is_palindrome('slide')
print(ans)

False

Here's another simple function challenge for you:

Write a Python function called count_vowels that takes a string as input and returns the count of vowels (A, E, I, O, U) in the string. Ignore the case of the characters, meaning 'a' and 'A' should be treated as the same vowel.

For example:

count_vowels("Hello World") should return 3 because there are three vowels ('e', 'o', 'o') in the string.
count_vowels("Python") should return 1 because there is one vowel ('o') in the string.
Take your time to write the count_vowels function, and when you're ready, you can share your solution with me for feedback or assistance.

In [4]:
vowels = ('a','e','i','o','u')

def count_vowels(n):
    n.lower()
    count = 0
    for i in n:
        if i in vowels:
            count = count+1
    return count
   
    
    
coun = count_vowels('daniel')
print(coun)

3

Write a Python function called reverse_string that takes a string as input and returns the string reversed. In other words, the function should reverse the order of characters in the string.

For example:

reverse_string("Hello") should return "olleH."
reverse_string("Python") should return "nohtyP."
Try writing the reverse_string function, and when you're ready, you can share your solution with me for feedback or assistance.

In [5]:
def reverse_string(n):
    rev = n[::-1]
    return rev
rt = reverse_string('daniel')
print(rt)

leinad

## Challenges
##### Challenge 
$1: Find the Maximum Number$
Write a function called find_max that takes a list of numbers as input and returns the maximum number in the list.

In [6]:

def find_max(*n):
    
    if len(n)==0:
        return None
    
    max_num = max(n)
    return max_num
    
    
    
adt = find_max(1,3,5,6)
print(adt)

6

##### Challenge 2:
$Calculate Factorial$
Write a function called calculate_factorial that takes an integer as input and returns the factorial of that number. The factorial of a non-negative integer n is the product of all positive integers less than or equal to n.

In [7]:
def calculate_factoral(*n):
    
    number = 1
    
    for i in n:
        if i>0:
            
            
            number = number * i
            
            
    return number


fact = calculate_factoral(-3)
print(fact)

1

In [8]:
def calculate_factorial(n):
    if n == 0:
        return 1  # 0! is defined as 1
    elif n < 0:
        return None  # Factorial is not defined for negative numbers
    
    factorial = 1
    for i in range(1, n + 1):
        factorial *= i
    
    return factorial

fact = calculate_factorial(5)
print(fact)

120

###### Challenge 3:
$Count  Words  in a String$

Write a function called count_words that takes a string as input and returns the count of words in the string. Words are separated by spaces.

In [9]:
#def count_words(n):

Write a function called calculate_area that takes base and height as an input and returns and area of a triangle. Equation of an area of a triangle is,

In [10]:
def calculate_area(base,height):
    are = base * height
    area = (1/2)*are
    return area
pr = calculate_area(3,5)
print(pr)

7.5

Modify above function to take third parameter shape type. It can be either "triangle" or "rectangle". Based on shape type it will calculate area. Equation of rectangle's area is, rectangle area=length*width

In [11]:
def calculate_area(base, height, shape ):
    
    if shape == 'triangle':
        area = 0.5*base*height
        
    elif shape == 'rectangle':
        area = base*height
        
    else:
        print('wrong input')
        area = None
        
    return area


triangle_result = calculate_area(3,7,'triangle')
print(triangle_result)

rectangle_result= calculate_area(4, 5, 'rectangle')
print(f'your shape is rectangle and area is {rectangle_result}')

unknown_area = calculate_area(7, 8, 'circle')
print(unknown_area)

10.5
your shape is rectangle and area is 20
wrong input
None

In [12]:
def calculate_area(base, height, shape_type):
    if shape_type == "triangle":
        area = 0.5 * base * height  # Triangle area calculation
    elif shape_type == "rectangle":
        area = base * height  # Rectangle area calculation
    else:
        area = None  # Handle unknown shape types
    return area

# Calculate the area of a triangle
triangle_area = calculate_area(3, 5, "triangle")
print("Triangle Area:", triangle_area)

# Calculate the area of a rectangle
rectangle_area = calculate_area(3, 5, "rectangle")
print("Rectangle Area:", rectangle_area)

# Handle unknown shape type
unknown_area = calculate_area(3, 5, "circle")
print("Unknown Shape Area:", unknown_area)

Triangle Area: 7.5
Rectangle Area: 15
Unknown Shape Area: None


Write a function called print_pattern that takes integer number as an argument and prints following pattern if input number is 3,

In [51]:
def print_pattern():
    def print_pattern(n=5):
    '''
    :param n: Integer number representing number of lines
    to be printed in a pattern. If n=3 it will print,
      *
      **
      ***
    If n=4, it will print,
      *
      **
      ***
      ****
    Default value for n is 5. So if function caller doesn't
    supply the input number then it will assume it to be 5
    :return: None
    '''
    # we need to run two for loops. Outer loop prints patterns line by line
    # where as inner loop print the content of that specific lines
    #for i in range(n):
        s = ''
        for j in range(i+1):
            s = s + '*'
        print(s)

IndentationError: expected an indented block (2597157588.py, line 3)

In [15]:
print("Print pattern with input=3")
print_pattern(3)
print("Print pattern with input=4")
print_pattern(4)
print("Print pattern with no input number")
print_pattern() # Not supplying any input will use default argument which is 5

Print pattern with input=3

NameError: name 'print_pattern' is not defined

 Create 2. Create two variables. One to store your birth year and another one to store current year. Now calculate your age using these two variablesa variable called break and assign it a value 5. See what happens and find out the reason behind the behavior that you see
 
 3. Store your first, middle and last name in three different variables and then print your full name using these variables

In [16]:
dob = 1993
tod = 2023

In [17]:
current = dob-tod
print(current)

-30

In [18]:
fn = 'Daniel'
Mn = 'Chimdiebube'
Ln = 'Jackson'

full_name = fn +Mn + Ln
print(full_name)

DanielChimdiebubeJackson

You have a football field that is 92 meter long and 48.8 meter wide. Find out total area using python and print it.

You bought 9 packets of potato chips from a store. Each packet costs 1.49 dollar and you gave shopkeeper 20 dollar. Find out using python, how many dollars is the shopkeeper going to give you back?

You want to replace tiles in your bathroom which is exactly square and 5.5 feet is its length. If tiles cost 500 rs per square feet, how much will be the total cost to replace all tiles. Calculate and print the cost using python (Hint: Use power operator ** to find area of a square)

Print binary representation of number 17

In [19]:
length = 92
width = 48.8

In [20]:
area = round(length*width, 2)

In [21]:
print(area)

4489.6

In [22]:
buy = 9*1.49
mon = 20
change = mon - buy
print(change)

6.59

In [23]:
length = 5.5**2
cost  = 500
money_needed = cost * length
money_needed

15125.0

Create 3 variables to store street, city and country, now create address variable to store entire address. Use two ways of creating this variable, one using + operator and the other using f-string. Now Print the address in such a way that the street, city and country prints in a separate line

Create a variable to store the string "Earth revolves around the sun"
Print "revolves" using slice operator
Print "sun" using negative index

Create two variables to store how many fruits and vegetables you eat in a day. Now Print "I eat x veggies and y fruits daily" where x and y presents vegetables and fruits that you eat everyday. Use python f string for this.
I have a string variable called s='maine 200 banana khaye'. This of course is a wrong statement, the correct statement is 'maine 10 samosa khaye'. Replace incorrect words in original strong with new ones and print the new string. Also try to do this in one line.

In [24]:
street = '9150 hwy 6N'
city = ' Hoston'
country = ' US'
address = street + city + country

In [25]:
address

'9150 hwy 6N Hoston US'

In [26]:
street = '9150 hwy 6N'
city = ' Hoston'
country = ' US'
address = street + city + country 
print(f'my address is: {address}')

my address is: 9150 hwy 6N Hoston US

In [27]:
street = '9150 hwy 6N'
city = ' Hoston'
country = ' US'

print(f'my address is: {street}\n {city}\n{country}')

my address is: 9150 hwy 6N
  Hoston
 US

In [28]:
revolves = "Earth revolves around the sun"
revolves[5:14]

' revolves'

In [29]:
revolves[-3:]

'sun'

In [30]:
fruits = 6
vege = 7

sent = ( f"I eat {fruits} veggies and {vege} fruits daily" )
sent

'I eat 6 veggies and 7 fruits daily'

Let us say your expense for every month are listed below,

January - 2200

February - 2350

March - 2600

April - 2130

May - 2190

Create a list to store these monthly expenses and using that find out,

1. In Feb, how many dollars you spent extra compare to January?
2. Find out your total expense in first quarter (first three months) of the year.
3. Find out if you spent exactly 2000 dollars in any month
4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
5. You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly expense list
based on this

In [31]:
January = 2200

February = 2350

March = 2600

April =  2130

May =  2190

exp = [2200, 2350, 2600, 2130, 2190]

In [32]:
feb = February - January
feb

150

In [33]:
exp_in_quater = January +February +March
exp_in_quater

7150

In [34]:
check = (2000 in exp)
check

False

In [35]:
exp.append(1980)
exp

[2200, 2350, 2600, 2130, 2190, 1980]

In [36]:
exp[3]=200
exp

[2200, 2350, 2600, 200, 2190, 1980]

You have a list of your favourite marvel super heros.

heros=['spider man','thor','hulk','iron man','captain america']

Using this find out,

1. Length of the list
2. Add 'black panther' at the end of this list
3. You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'
4. Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.
5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [37]:
heros=['spider man','thor','hulk','iron man','captain america']
len(heros)

5

In [38]:
heros.append('black panther')
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

In [39]:
del heros[-1]

In [40]:
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america']

In [41]:
del heros[-1]

In [42]:
heros

['spider man', 'thor', 'hulk', 'iron man']

In [43]:
heros.append('captain america')

In [44]:
heros.insert(3, 'black panther')
heros

heros[2]=('doctor')
print(heros)

['spider man', 'thor', 'doctor', 'black panther', 'iron man', 'captain america']

In [45]:
heros.sort()
print(heros)

['black panther', 'captain america', 'doctor', 'iron man', 'spider man', 'thor']

Using following list of cities per country,

india = ["mumbai", "banglore", "chennai", "delhi"]

pakistan = ["lahore","karachi","islamabad"]

bangladesh = ["dhaka", "khulna", "rangpur"]

Write a program that asks user to enter a city name and it should tell which country the city belongs to

Write a program that asks user to enter two cities and it tells you if they both are in same country or not. For example if I 
enter mumbai and chennai, it will print "Both cities are in India" but if I enter mumbai and dhaka it should print "They don't belong to same country"

Write a python program that can tell you if your sugar is normal or not. Normal fasting level sugar range is 80 to 100.
Ask user to enter his fasting sugar level

If it is below 80 to 100 range then print that sugar is low

If it is above 100 then print that it is high otherwise print that it is normal

In [46]:
india = ["mumbai", "banglore", "chennai", "delhi"]

pakistan = ["lahore","karachi","islamabad"]

bangladesh = ["dhaka", "khulna", "rangpur"]

In [47]:
enter_city = input('please enter a city name:')

if enter_city in india:
    print(f'You chose {enter_city},  and its a city in  India')
elif enter_city in pakistan:
    print(f'You chose {enter_city},  and its a city in  pakistan')
elif enter_city in bangladesh:
    print(f'You chose {enter_city},  and its a city in  bangladesh')
else:
    print('No country was found')

please enter a city name:
No country was found

In [48]:
city1 = input('please enter a city name:')
city2 = input('please enter a city name:')

if city1 in india:
    if city2 in india:
        print(f'You chose {city1} and {city2},  and its a city in  India')
elif city1 in pakistan:
    if city2 in pakistan:
        print(f'You chose {city1} and {city2},  and its a city in  pakistan')
elif city1 in bangladesh:
    if city2 in bangladesh:
        print(f'You chose {city1} and {city2},  and its a city in  bangladesh')
else:
    print('No country was found')

please enter a city name:
please enter a city name:
No country was found

In [52]:

sugar = int(input('please enter fasting sugar level:'))
if sugar >= 80 and sugar <= 100:
    print('Sugar level is normal')
elif sugar < 80 :
    print('sugar is low')
else:
    print('sugar is high')

please enter fasting sugar level:20
sugar is low

In [53]:
for i in range (1, 5):
    for j in range(i):
        print('*', end = "")
    print()

*
**
***
****